@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@800&family=Kanit&family=Mochiy+Pop+One&family=Montserrat:wght@200;500;800;900&family=Oswald:wght@200;400;700&family=Poppins:wght@400;500;600;700;800;900&family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", Sans-serif;
}

.DashbordMain{
    min-height: 100vh;
    width: 100%;
    background-color: #c2bdbd28;
}

.sidebar{
    width: 20%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-inline: 1rem;
    transition: all 0.6s ease;
    height: 100vh;
    left: 0;
    position: fixed;
    gap: 1.5rem;
    top: 0;
}
.WrapperAdmim{
    padding: 20px;
    float: right;
    width: 75%;
    transition: all 0.6s ease;
    min-height: 100vh;
}

.link{
    display: flex;
    gap: 10px;
    color: #6e6868;
    padding: 10px;
    border-radius: 7px;
}

.navigation_bar{
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 12px 15px;
        color: #9d9a9a;
        border-radius: 7px;
        box-shadow: 1px 1px 4px #bfbdbd52;
}


.InputSearch{
}
.InputSearch input{
    border: none;
    outline:none
}

#ll img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hide{
    display: none;
}


.center {
    width: 100%;
    text-align: center;
  }

  input[type="checkbox"] {
    position: relative;
    top: 8px;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    outline: none;
    transition: 0.5s;
  }

  input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #262626;
    box-sizing: border-box;
    transition: 0.5s;
  }

  input:checked[type="checkbox"]:before {
    border-left: none;
    border-top: none;
    width: 20px;
    border-color: rgb(24, 196, 24);
    transform: rotate(45deg) translate(5px, -10px);
  }
