@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@800&family=Kanit&family=Mochiy+Pop+One&family=Montserrat:wght@200;500;800;900&family=Oswald:wght@200;400;700&family=Poppins:wght@400;500;600;700;800;900&family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", Sans-serif;
}
a {
    text-decoration: none !important;
    color: inherit;
}


.stateItems {
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:10px ;
}

.ItemsStateComponent {
    flex:1 ;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    min-width: 250px;
}




.H-ItemsStateComponent {
    display: flex;
    justify-content: space-between;
}




.NameState {
    font-size: 20px;
    color: #646060;
}




.C-ItemsStateComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.T-ItemsStateComponent {
    font-size: 35px;
    font-weight: 400;
    padding: 5px;
}


.I-ItemsStateComponent {
    color: #fff;
    border-radius: 5px;
    padding: 3px;
}




.btnAj{
    background-color: #163dcd !important;
}

.DashbordMain {
    min-height: 100vh;
    width: 100%;
    background-color: #c2bdbd28;
}
.sidebar .toggle {
    position: absolute;
    right: 0;
    padding: 0.25rem;
}
.sidebar {
    width: 20%;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-inline: 1rem;
    transition: all 0.6s ease;
    height: 100vh;
    left: 0;
    gap: 2rem;
    position: fixed;

    top: 0;
}
.sidebar a {
    color: black;
    font-size: 0.9rem;
    padding: 0.75rem 1rem;
}

.sidebar a:hover {
    background: #163dcd;
    color: white;
}
.sidebar .top-part {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.sidebar .top-part .avatar {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    background-color: #163dcd;
    border-radius: 50%;
}
.sidebar .top-part .name-job {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.sidebar .top-part .name-job .job {
    font-size: 0.8rem;
}
.sidebar .bottom-part {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}
.WrapperAdmim {
    padding: 20px;
    float: right;
    width: 75%;
    transition: all 0.6s ease;
    min-height: 100vh;
}

.link {
    display: flex;
    gap: 10px;
    color: #6e6868;
    padding: 10px;
    border-radius: 7px;
}

.navigation_bar {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    color: #9d9a9a;
    border-radius: 7px;
    box-shadow: 1px 1px 4px #bfbdbd52;
}

.InputSearch {
}
.InputSearch input {
    border: none;
    outline: none;
}

#ll img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hide {
    display: none !important;
}

.center {
    width: 100%;
    text-align: center;
}

input[type="checkbox"] {
    position: relative;
    top: 8px;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    outline: none;
    transition: 0.5s;
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #262626;
    box-sizing: border-box;
    transition: 0.5s;
}

input:checked[type="checkbox"]:before {
    border-left: none;
    border-top: none;
    width: 20px;
    border-color: rgb(24, 196, 24);
    transform: rotate(45deg) translate(5px, -10px);
}
